.row-fluid
	.span12
		.text-error(ng-repeat="message in failedValidations"){{message}}
		.text-success(ng-repeat="message in successMsgs"){{message}}
	.span4
	.span4  
		button(ng-click="download()").btn.btn-block#button Translate
		
		