.row
	.span12
		p 
			b How to Use
		ul(style="margin:0 !important")
			ol 1) 
				a(ng-click='getFile("/downloads/static/default.properties")')#download Click here 
				to to download the default properties file
			ol 2) Update the properties file with more keys whose values which you would like to translate.
				for ex: 
			ol 3) Update your email template with placeholders with same value as keys added in properties file.
			ol 4) Upload the email template along with properties file
			ol 5) Click on done button to download the zip file
			ol 6) The downloaded file will have all the translated email templates in all current supported languages
			ol 7) If you want to add additional languages, please upload a .langs file which has values as language codes
			ol 8)  
				a(ng-click='getFile("/downloads/static/sample.langs")')#download Click here
				to  to get the sample langs file




		