.row
	.span8
		p 
			b How to Use
		ul(style="margin:0 !important")
			ol(ng:non-bindable) 0. Upload any sample html file with placeholders {{KEY}} (or {{{KEY}}} if text has html) where you want to translate
			ol 1. Upload a properties file with keys of placeholders and the values which you would like to translate
			ol 2. 
				a(ng-click='getFile("/downloads/static/default.properties")')#download Click here 
				to to download the default properties file
			ol 3. Click on done. This will download a zip file which will get the translated files in (en,de,pt,es,fr,it,ja) languages
			ol 4. If you want to add additional languages, please upload a .langs file which has values as language codes
			ol 5.  
				a(ng-click='getFile("/downloads/static/sample.langs")')#download Click here
				to  to get the sample langs file

