extends layout

block body
  div.container-narrow
    div.masthead
      ul.nav.nav-pills.pull-right 
        li.active 
          a(href='#')#home Home
        li
          a(href='help')#help Help         
      h3.muted Email Template Translator    
    div     
      div(ng-controller='AppCtrl')
        div 
          div#dropzone
            form(action="/file-upload", method="post", enctype="multipart/form-data").dropzone.dz-clickable#my-dropzone
              div.dz-default.dz-message              
                span 
        div(ng-view)
      hr  
      div
        | Built using Express, BootSrap & Angular JS: v
        span(app-version)

  script(src='js/dropzone.js')      
  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-1.9.1.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script.
    Dropzone.prototype.defaultOptions.acceptedFiles = '.htm,.html,.properties,.langs';
    Dropzone.prototype.defaultOptions.addRemoveLinks = true;
    Dropzone.autoDiscover = false;
    $('#button').tooltip('show');
    var myDropzone = new Dropzone("#my-dropzone");
    myDropzone.on('removedfile',function(file){
      jQuery.ajax('/deleteFile/'+file.name);
    });

